header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Asegura que quede por encima de otros elementos */

  width: 100%;
  background-color: rgba(208, 239, 248, 0.94);
  height: 110px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.left {
  width: 400px;
  margin-left: 75px;
  color: #45d2da;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-style: oblique;
}
.left img {
  width: 120px;
  border-radius: 100%;
}
.center {
  width: 200px;
  color: #9c9c9c;
}
.center img {
  width: 15px;
  margin-right: 5px;
  transition: transform 0.3s ease;
}
.center img:hover {
  transform: scale(1.5);
}
.right {
  width: 290px;
  margin-right: 75px;
  color: #9c9c9c;
  display: flex;
  align-items: center;
  gap: 10px;
}
.button, button{
  background-color: rgba(208, 239, 248, 0.94);
  color: #9c9c9c;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 10px;
  text-decoration: none;
}
.button:hover, button:hover {
  background-color: rgba(155, 226, 248, 0.94);
  color: white;
  transform: scale(1.1);
}
.App{
  height: 100%;
  min-height: 78vh;
}
.App-main{
  min-height: 78vh;
}
footer {
  width: 100%;
  height: 70px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  box-sizing: border-box;
}
footer p {
  position: absolute;
  bottom: -5px;
  right: 15px;
  font-size: 12px;
  align-self: flex-end;
}
.icons {
  margin-left: 100px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.icons > {
  transition: transform 0.3s ease;
}
.instagram, .facebook, .twitter {
  width: 25px;
  transition: transform 0.3s ease;
}
.instagram:hover, .facebook:hover, .twitter:hover {
  transform: scale(1.1);
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropbtn {
  all: unset;
  color: #9c9c9c;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 7px;
}
.dropbtn:hover{
  all: unset;
  cursor: pointer;
  transform: scale(1.1);
  margin-left: 7px;
}
.dropdown ul {
  display: none;  /* Inicialmente el menú está oculto */
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Posiciona el menú debajo del botón */
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}
.dropdown:hover ul {
  display: block;
}
.dropdown ul li {
  padding: 8px 16px;
  border: 1px solid #ddd;
  transition: transform 0.3s ease;
}
.btn {
  text-decoration: none;
  color: #9c9c9c;
  display: block;
  border: none;
}
.btn:hover {
  background-color: #ddd;
}
.dropdown ul li:hover {
  transform: scale(1.1);
}
.img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.img:hover {
  transform: scale(1.1);
}
