.body-form {
    gap: 20px;
}
.body-form label {
    height: 20px;
}
.body-form input {
    height: 17px;
}
.button {
    margin-top: -10px;
    margin-bottom: 100px;
    width: 250px;
}
input[type="file"] {
    width: 88px;
}
.mensaje p {
    color: green;
}
.error p {
    color: red;
}
form select{
    width: 115px;
}

/*Del Login*/
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.head-form, .body-form, .footer-form {
    border: 2px solid #e3e3e3;
}
.login-form {
    width: 450px;
    display: flex;
    height: 546px;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.head-form, .footer-form {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #f3f3f3;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.head-form {
    font-size: 35px;
}
.footer-form {
    font-size: 20px;
}
.body-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 443px;
    gap: 20px;
}
.body-form > img {
    margin-top: 15px;
    margin-bottom: -5px;
    width: 60px;
    height: 60px;
}
form label {
    background-color: #ededed;
    padding: 9.5px;
    color: #777777;
    margin-right: -2px;
    border: 2px solid #d1d1d1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
form input {
    background-color: white;
    padding: 11px;
    width: 220px;
    border: 2px solid #d1d1d1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
form div {
    display: flex;
    justify-content: center;
}
.button {
    margin-top: -5px;
    background-color: rgba(52, 166, 191, 0.94);
    width: 150px;
    height: 35px;
    color: white;
    border-radius: 5px;
}
label img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.login-form p {
    height: 10px;
    color: red;
}