.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 70px 0 70px 0;
}
.perfil {
    width: 150px;
    height: 170px;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 20px;
}
.body div {
    display: flex;
    align-items: center;
    gap: 7px;
    height: 40px;
}
.body div img {
    width: 20px;
    height: 20px;
}
.body div:last-child {
    display: flex;
    gap: 10px;
}
.body div:last-child button {
    text-decoration: none;
    background-color: #d0e3ff;
    color: #3674ff;
    border-radius: 30px;
    padding: 5px;
    transition: all 0.5s ease;
}

.body div:last-child button:hover {
    transform: scale(1.1);
    background-color: #3674ff;
    color: #d0e3ff;
}