.med {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.notFound {
    background-color: white;
    color: #777777;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    gap: 20px;
    font-size: 20px;
}
.container > div:nth-of-type(2) {
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgba(204, 149, 0, 0.59);
    width: 190px;
    font-size: 20px;
}
.container > p {
    padding: 20px;
    border-radius: 100%;
    height: 10px;
    display: flex;
    align-items: center;
}
.ver {
    margin-top: -100px;
}
