### Java / Maven / Spring Boot ###

# Maven target directory
target/

# Compiled classes
*.class

# Logs
*.log

# Spring Boot dev tools
.spring-boot-devtools.properties

# IntelliJ / Eclipse / VSCode
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Environment / Properties
application-dev.properties
application-test.properties
application-prod.properties
*.env

# Maven Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Uploaded or generated images
src/main/resources/static/uploads/
uploads/
C:/AAA/images/   # Evita subir rutas locales

