.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
.form {
    margin-top: 25px;
}
.form textarea {
    width: 130px;
    height: 70px;
    margin-right: 10px;
    resize: none;
}
/*.form button {*/
/*    margin-top: 15px;*/
/*    width: 90px;*/
/*}*/
.perfil {
    width: 150px;
    height: 170px;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 40px;
}
.body div {
    display: flex;
    align-items: center;
    gap: 7px;
    height: 60px;
}
.body div img {
    width: 20px;
    height: 20px;
}





